---
const { text } = Astro.props;

---
<div class="inline-flex items-center rounded-full border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-indigo-400 dark:bg-indigo-600 text-gray-800-foreground dark:text-gray-100-foreground hover:bg-indigo-400/80 dark:hover:bg-indigo-600/80">
  {text}
</div>
