---
interface Props {
	title: string;
}
import { SEO } from "astro-seo";

const { title } = Astro.props;
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
      title="Tannus Esquerdo - Front-end Developer, React, React Native"
      description="Discover Tannus Esquerdo, a seasoned Software Developer specializing in JavaScript, React, Node.js, React Native, TypeScript, and Tailwind for robust web application development."
      openGraph={{
        basic: {
          title: "Tannus Esquerdo - Front-end Developer, React, React",
          type: "profile",
          image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        }
      }}
      twitter={{
        creator: "@tannusesquerdo"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tannus Esquerdo - JavaScript and React Development Expert" },
          { name: "twitter:description", content: "Meet Tannus Esquerdo, an experienced Software Developer with a focus on JavaScript, React, React Native, TypeScript, and more." },
        ],
      }}
    />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-gray-800 dark:text-gray-100 bg-white dark:bg-gray-900">
		<div class="flex flex-col min-h-screen">
			<Header />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
